<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="siscp.DAL.Properties.Settings.DBsiscpConnectionString" connectionString="Data Source=.\;Initial Catalog=DBsiscp;Persist Security Info=True;User ID=siscp" providerName="System.Data.SqlClient"/>
        <add name="siscp.DAL.Properties.Settings.DBsiscpConnectionString1" connectionString="Data Source=.\;Initial Catalog=DBsiscp;Persist Security Info=True;User ID=siscp;Password=asd@123" providerName="System.Data.SqlClient"/>
        <add name="siscp.DAL.Properties.Settings.DBsiscpConnectionString2" connectionString="Data Source=.\;Initial Catalog=DBsiscp;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
